body {
    font-family: 'Times New Roman', Times, serif;
}


section{
    padding: 60xp 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 3%;
    margin-right: 3%;
}

.box {
    border: 1px solid rgb(203, 200, 199);
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

.box img {
    width: 15rem;
}

.btn {
    background-color: orangered;
    color: white;
}
.btn:hover {
    background-color: orangered;
    color: white;
}

#span1 {
    color: orangered;
}

#css {
    width: 12rem;
    margin-top: 1rem;
}

#risco {
    width: 20rem;
    height: 20rem;
    /* margin-left: 60%;
    margin-top: 8rem;
    border-radius: 50%;
    margin-bottom: 117px; */
    border: 1px solid orangered;
    padding: 1rem;
}

#intro {
    padding-bottom: 20rem;
    padding-top: 4rem;
}

#skills {
    background-color: rgba(218, 249, 255, 0.138);
}

#about {
    background-color: rgba(245, 239, 239, 0.079);
    padding-bottom: 3.7rem;
}

#contact {
    background-color: aliceblue;
}


.social {
    text-align: center;
    padding: 10px;
}

.social a {
    font-size: 20px;
    color: inherit;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    
}

.social a:hover {
    border-radius: 30%;
    border:1.5px solid black;
}

footer ul {
    list-style: none;
    text-align: center;
}

footer ul a {
    text-decoration: none;
    color: inherit;
}

footer ul a li {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}

@media (max-width: 425px) {
    #risco {
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width: 375px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-left: 4%;
        margin-right: 4%;
    }
}
