* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    color: inherit;
    font-family: system-ui;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.brand-title {
    height: 100%;
    padding: 0 30px;
    font-size: larger;
    font-weight: 600;
    font-style: italic;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    margin-left: 6.5rem;
}

.toggle-button {
    top: 9rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 10px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.menu-button {
    display: none;
}

.current {
    color: orangered;
    font-weight: bold;
}

nav ul li .current:hover {
    background-color: orangered;
    color: white;
}

span {
    color: orangered;
}

.intro {
    margin-top: 12rem;
    margin-left: 15%;
    margin-right: 40%;
    position: absolute;
}

#js {
    width: 30px;
    height: 30px;
    margin-left: 0px;
}

#css {
    width: 30px;
    height: 30px;
    margin-left: 0px;
}

#html {
    width: 30px;
    height: 30px;
}

.skills a {
    display: inline-block;
}

.skills {
    position: absolute;
    margin-top: 300px;
    margin-left: 20%;
}

#risco {
    width: 20rem;
    height: 20rem;
    margin-left: 60%;
    margin-top: 8rem;
    border-radius: 50%;
    margin-bottom: 117px;
    border: 1px solid orangered;
    padding: 1rem;
}

/*ABOUT*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 60px;
}

.container h1 {
    margin-bottom: 60px;
    text-align: center;
}

#about {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#about img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-left: 2px;
    border: 1px solid orangered;
    padding: 1rem;
}

#about div {
    width: 63%;
}
#about h3 {
    margin-bottom: 10px;
    margin-top: 5px;
}


footer {
    background-color: rgb(245, 245, 245);
    margin-top: 100px;
    padding: 17px;
}

.social {
    text-align: center;
    padding: 10px;
}

.social a {
    font-size: 20px;
    color: inherit;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    
}

.social a:hover {
    border-radius: 30%;
    border:1.5px solid black;
}

footer ul {
    list-style: none;
    text-align: center;
}

footer ul a {
    text-decoration: none;
    color: inherit;
}

footer ul a li {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}

.copyright {
    text-align: center;
}

form {
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #a2a8a9a4;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2rem;
    border-radius: 2%;
    font-size: large;
}

form h1 {
    text-align: center;
    color: orangered;
}

form p {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: .4rem;
}

form input {
    padding: 1rem;
    margin-top: 1.5rem;
    outline: none;
    width: 35rem;
    height: 1.5rem;
    border: none;
    border-radius: 1.5rem;
}

form label {
    display: none;
    margin-top: .5rem;
}

form button {
    display: block;
    width: 15rem;
    padding: 1rem;
    margin-left: 25%;
    border: none;
    border-radius: 3%;
    background-color: orangered;
    margin-top: 1rem;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}

textarea {
    width: 34rem;
    margin-top: 1.5rem;
    border: none;
    resize: none;
    padding: 1.5rem;
    outline: none;
    border-radius: 2rem;
}


#contact-footer {
    margin-top: 900px;
}

/*Skills*/
img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: 85px;
    border-radius: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 3%;
    margin-right: 3%;
}

.box {
    border: 1px solid orangered;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

.skill-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 300px;
    height: 20px;
    margin-top: 180px;
    margin-left: 20px;
    display: none;
    
}

.skill-progress {
    background-color: #00ff08e4;
    border-radius: 5px;
    height: 100%;
    text-align: center;
    display: none;

}

#skills-heading {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 1165px) {
    .skills {
        margin-top: 22rem;
        margin-left: 20%;
    }
}

@media (max-width: 768px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

/* Tablet */
@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }

    .sidebar a {
        width: 13%;
        margin-left: 5rem;
    }
    .menu-button {
        display: block;
    }
    
    .intro {
        margin-top: 3rem;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        text-align: center;
    }
    
    #hello {
        margin-top: 16.5rem;
        margin-left: 0;
    }

    #js {
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }
    
    #css {
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }
    
    #html {
        width: 20px;
        height: 20px;
    }
    
    .skills a {
        display: inline-block;
    }
    
    .skills {
        margin-top: 52%;
        margin-left: 30%;
    }
    
    #risco {
        width: 12rem;
        height: 12rem;
        margin-left: 35%;
        margin-bottom: 13rem;
        margin-top: 7rem;
    }
    
    /*ABOUT*/
    
    .container {
       text-align: justify;
    }
    
    #about img {
        position: absolute;
        width: 12rem;
        height: 12rem;
        /* margin-left: 6rem; */
        top: 30%;
        left: 50%;
        transform: translate(-50%);
    }

    #about div {
        width: 100%;
        margin-top: 12rem;
    }
    #about h3 {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    
    footer {
        padding: 15px;
    }
    
    .social {
        padding: 7px;
    }
    
    .social a {
        font-size: 15px;
        margin-left: 8px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        
    }
    
    footer ul a li {
        padding: 5px;
    }

    
    form {
        padding-left: 1.5rem;
        padding-right: 3rem;
        margin-top: 2rem;
    }
    
    form input {
        width: 100%;
        height: 5%;
    }
    
    textarea {
        width: 95%;
    }

    #button {
        width: 20em;
        margin-left: 25px;
    }

    #contact-footer {
        margin-top: 900px;
    }
    
    /*Skills*/
    img {
        width: 9rem;
        height: 9rem;
        margin-left: 4rem;
    }
    
    .skill-bar {
        width: 250px;
        height: 22px;
        border-radius: 10px;
        margin-left: 4rem;
        
    }
    
    .skill-progress {
        background-color: #00ff08e4;
        border-radius: 10px;
        height: 100%;
        text-align: center;
    }
    
    #skills-heading {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 10px;
    }

    form button {
        margin-left: 2.5rem;
    }

}

@media (max-width: 425px) {
    .skills {
        margin-top: 95%;
        margin-left: 10%;
    }

    #risco {
        margin-left: 25%;
    }

     /*Skills*/
     img {
        width: 10rem;
        height: 10rem;
        margin-left: 5rem;
    }

    form button {
        margin-left: .7rem;
    }

}

@media (max-width: 375px) {
    .skills {
        margin-top: 120%;
        margin-left: 10%;
    }

    #risco {
        margin-left: 20%;
        margin-top: 40%;
    }

    /*Skills*/
    img {
        margin-left: 4rem;
    }

    #about img {
        top: 36%;
    }

    form button {
        margin-left: .7rem;
    }
}

@media (max-width: 320px) {
    .skills {
        margin-top: 140%;
        margin-left: 0%;
    }

    #risco {
        margin-left: 15%;
        margin-top: 50%;
    }

/*Skills*/
img {
    width: 9rem;
    height: 9rem;
    margin-left: 3rem;
}

    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-left: 4%;
        margin-right: 4%;
    }

    form {
        padding-left: .4rem;
        padding-right: .5rem;
    }

    form input {
        width: 87%;
        height: 2%;
        padding: .85rem;
    }
    
    textarea {
        width: 80%;
        height: 10rem;
    }

    form button {
        margin-left: .5rem;
    }
}
