* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    color: inherit;
    font-family: system-ui;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.brand-title {
    height: 100%;
    padding: 0 30px;
    font-size: larger;
    font-weight: 600;
    font-style: italic;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    margin-left: 6.5rem;
}

.toggle-button {
    top: 9rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 10px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.menu-button {
    display: none;
}

.current {
    color: orangered;
    font-weight: bold;
}

nav ul li .current:hover {
    background-color: orangered;
    color: white;
}

.intro {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 40%;
    position: absolute;
}

#js {
    width: 30px;
    height: 30px;
    margin-left: 0px;
}

#css {
    width: 30px;
    height: 30px;
    margin-left: 0px;
}

#html {
    width: 30px;
    height: 30px;
}

.skills a {
    display: inline-block;
}

.skills {
    position: absolute;
    margin-top: 300px;
    margin-left: 20%;
}

#risco {
    width: 20rem;
    height: 20rem;
    margin-left: 60%;
    margin-top: 50px;
    border-radius: 50%;
    margin-bottom: 117px;
}

/*ABOUT*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 60px;
}

.container h1 {
    margin-bottom: 60px;
    text-align: center;
}

#about {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#about img {
    border-radius: 50%;
    width: 25%;
    height: 300px;
    margin-left: 10px;
}
#about div {
    width: 70%;
}
#about h3 {
    margin-bottom: 10px;
    margin-top: 5px;
}


footer {
    background-color: rgb(245, 245, 245);
    margin-top: 100px;
    padding: 17px;
}

.social {
    text-align: center;
    padding: 10px;
}

.social a {
    font-size: 20px;
    color: inherit;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    
}

.social a:hover {
    border-radius: 30%;
    border:1.5px solid black;
}

footer ul {
    list-style: none;
    text-align: center;
}

footer ul a {
    text-decoration: none;
    color: inherit;
}

footer ul a li {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}

.copyright {
    text-align: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(122, 125, 152, 0.516);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 50px;
    margin-top: 150px;
}

form h1 {
    color: orangered;
    padding-bottom: 10px;
    text-align: center;
}

form label {
    display: block;
}

input {
    font-size: 15px;
    font-weight: 500;
    width: 27.6em;
    padding: 1em 10px;
    border-radius: 0.31em;
    border: none;
    outline: none;
}

textarea {
    display: block;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    width: 27.5em;
    padding: 0.5em 10px;
    margin: 0 0 15px;
    border-radius: 1em;
    outline: none;
}

#button {
    display: block;
    position: relative;
    background-color: orangered;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    width: 20em;
    padding: 1em 10px;
    margin-left: 50px;
    border-radius: 2em;
    cursor: pointer;
}

#contact-footer {
    margin-top: 900px;
}

/*Skills*/
img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: 85px;
    border-radius: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 3%;
    margin-right: 3%;
}

.box {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

.skill-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 300px;
    height: 20px;
    margin-top: 180px;
    margin-left: 20px;
    
}

.skill-progress {
    background-color: #00ff08e4;
    border-radius: 5px;
    height: 100%;
    text-align: center;
}

#skills-heading {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

/* Tablet */
@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    .sidebar a {
        width: 20%;
        margin-left: 4rem;
        border-radius: 15%;
    }

    .menu-button {
        display: block;
    }
    
    .intro {
        margin-top: 100px;
        margin-left: 5%;
        margin-right: 50%;
    }
    
    #js {
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }
    
    #css {
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }
    
    #html {
        width: 20px;
        height: 20px;
    }
    
    .skills a {
        display: inline-block;
    }
    
    .skills {
        margin-top: 300px;
        margin-left: 0%;
    }
    
    #risco {
        width: 12rem;
        height: 12rem;
        margin-left: 52%;
        margin-bottom: 13rem;
        margin-top: 7rem;
    }
    
    /*ABOUT*/
    
    .container {
       text-align: justify;
    }
    
    #about img {
        position: absolute;
        width: 12rem;
        height: 12rem;
        margin-left: 10rem;
        top: 180px;
    }
    #about div {
        width: 100%;
        margin-top: 12rem;
    }
    #about h3 {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    
    footer {
        padding: 15px;
    }
    
    .social {
        padding: 7px;
    }
    
    .social a {
        font-size: 15px;
        margin-left: 8px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        
    }
    
    footer ul a li {
        padding: 5px;
    }

    
    form {
        padding-left: 5%;
        padding-right: 10%;
    }
    
    input {
        width: 100%;
    }
    
    textarea {
        width: 100%;
    }

    #button {
        width: 20em;
        margin-left: 25px;
    }

    #contact-footer {
        margin-top: 900px;
    }
    
    /*Skills*/
    img {
        width: 140px;
        height: 140px;
    }
    
    .skill-bar {
        width: 250px;
        height: 22px;
        border-radius: 10px;
        
    }
    
    .skill-progress {
        background-color: #00ff08e4;
        border-radius: 10px;
        height: 100%;
        text-align: center;
    }
    
    #skills-heading {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 10px;
    }

    /* Add other styles for tablet layout here */
}

@media (max-width: 761px) {
     /*Skills*/
     img {
        width: 140px;
        height: 140px;
        margin-left: 220px;
    }
    
    .skill-bar {
        width: 250px;
        height: 22px;
        border-radius: 10px;
        margin-left: 170px;
        
    }
    
    .skill-progress {
        background-color: #00ff08e4;
        border-radius: 10px;
        height: 100%;
        text-align: center;
    }
}

@media (max-width: 761px) {
     /*Skills*/
     img {
        width: 140px;
        height: 140px;
        margin-left: 220px;
    }
    
    .skill-bar {
        width: 250px;
        height: 22px;
        border-radius: 10px;
        margin-left: 170px;
        
    }
    
    .skill-progress {
        background-color: #00ff08e4;
        border-radius: 10px;
        height: 100%;
        text-align: center;
    }

    /* Add other styles for mobile layout here */
}

/* Larger Screens */
@media (min-width: 800px) {
    /* Add styles for larger screens here */
}

/* Extra Large Screens */
@media (min-width: 1600px) {
    /* Add styles for extra large screens here */
}

/* Mobile */
@media (max-width: 500px) {
    body {
        font-size: 0.9rem;
    }

    .sidebar a {
        width: 13%;
        margin-left: 5rem;
    }
    .menu-button {
        display: block;
    }
    
    .intro {
        margin-top: 2rem;
        margin-left: 9%;
        margin-right: 50%;
        width: 100%;
    }
    
    #hello {
        margin-top: 15rem;
        margin-left: 4.5rem;
    }

    #js {
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }
    
    #css {
        width: 20px;
        height: 20px;
        margin-left: 0px;
    }
    
    #html {
        width: 20px;
        height: 20px;
    }
    
    .skills a {
        display: inline-block;
    }
    
    .skills {
        margin-top: 370px;
        margin-left: 5%;
    }
    
    #risco {
        width: 12rem;
        height: 12rem;
        margin-left: 35%;
        margin-bottom: 13rem;
        margin-top: 7rem;
    }
    
    /*ABOUT*/
    
    .container {
       text-align: justify;
    }
    
    #about img {
        position: absolute;
        width: 12rem;
        height: 12rem;
        margin-left: 6rem;
        top: 180px;
    }
    #about div {
        width: 100%;
        margin-top: 12rem;
    }
    #about h3 {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    
    footer {
        padding: 15px;
    }
    
    .social {
        padding: 7px;
    }
    
    .social a {
        font-size: 15px;
        margin-left: 8px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        
    }
    
    footer ul a li {
        padding: 5px;
    }

    
    form {
        padding-left: 5%;
        padding-right: 10%;
    }
    
    input {
        width: 100%;
    }
    
    textarea {
        width: 100%;
    }

    #button {
        width: 20em;
        margin-left: 25px;
    }

    #contact-footer {
        margin-top: 900px;
    }
    
    /*Skills*/
    img {
        width: 140px;
        height: 140px;
        margin-left: 7.5rem;
    }
    
    .skill-bar {
        width: 250px;
        height: 22px;
        border-radius: 10px;
        margin-left: 4rem;
        
    }
    
    .skill-progress {
        background-color: #00ff08e4;
        border-radius: 10px;
        height: 100%;
        text-align: center;
    }
    
    #skills-heading {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 10px;
    }

    /* Add other styles for tablet layout here */
}
